.Sidebar {
  width: 80px;
  background-color: rgba(32, 32, 35, 1);
  height: 100%;
  border-right: 1px solid rgba(189, 189, 192, 0.1);
  transition: width 300ms;
  overflow-x: scroll;
}

/* not smalls devices */
@media (min-width: 576px) {
  .Sidebar {
    width: 320px;
  }
}
