@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  height: 100%;
  display: flex;
  color: rgba(189, 189, 192, 1);
}
